<div class="header-container">
    <a routerLink="task" mat-button>{{title}}</a>

    <div class="choiche-container">
        <div class="choiche">
            <a routerLink="task/task-list" color="primary" mat-stroked-button>Show as a list</a>
        </div>
        <div class="choiche">
            <a routerLink="task/task-table" color="accent" mat-stroked-button>Show as a table</a>
        </div>
        <div class="choiche">
            <a routerLink="task/task-add" mat-stroked-button>Add a new Task</a>
        </div>
    </div>
</div>